*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.title{
	text-align: center;
	width: 250px;
	background-color: rgb(23, 45, 97);
	border: 2px solid black;
	margin: 2px auto;
	color: white;
	padding: 2px 0;
}


table{
	border-radius: 25px;
	margin: 0 auto;
	padding: 40px 15px;
	background-color: rgb(4, 11, 20);
}


input[type=text]{
	padding: 8px 2%;
	border: 1px solid black;
	background-color: rgb(240, 250, 62);
}

input[type=button]{
	width: 100%;
	border: 1px solid black;
	max-width: 55px;
	padding: 9px 10px;
	margin-top: 2px;
	background-color: rgb(90, 95, 102);
	color: white;
}